.container {
  padding-top: 2%;
  max-width: 75%;
}

.brd {
  border: 0px solid red;
}

img {
  height: 200px;
  width: 200px;
}

.box {
  text-align: center;
}

.profile {
  background-color: gray;
  height: 100px;
  margin: 10px;
  width: 100px;
}